html, body
{
    height: 100%;
    /* margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden; */
}

body {
    background-color: black;
}

  h1, h2, p, ol, li {
    margin-left: 40px;
    color: white;
    font-family: 'Archivo', sans-serif;
  }

/* div {
    position:relative;
    height: 100%;
    width:100%;
} */

img {
    position:absolute;
    top: -5%;
    left: -5%;
    right: -5%;
    bottom: -5%;
    margin:auto;
    mix-blend-mode: exclusion;
}

@media (orientation: landscape) {
    img {
        width: 110%;
        height: auto;
    }
  }
  
  @media (orientation: portrait) {
    img {
        width: auto;
        height: 110%;
    }
  }

@media only screen and (max-width: 550px) and (max-height: 500px){
    #layer_1, #layer_2, #layer_3, #layer_4, #layer_5, #layer_6, #layer_7, #layer_8, #layer_9, #layer_10, #layer_11, #layer_12, #layer_13, #layer_14, #layer_15, #layer_16, #layer_17, #layer_18, #layer_19, #layer_20, #layer_21 {
        position:absolute;
        top: -5%;
        left: -5%;
        right: -5%;
        bottom: -5%;
        margin:auto;
        mix-blend-mode: exclusion;
        transform-origin: center center;
        transition-duration: 3s;
        transform: rotate(0deg);
    }
}

@media only screen and (min-width: 551px) and (max-width: 846px) and (max-height: 500px){
    #layer_1, #layer_2, #layer_3, #layer_4, #layer_5, #layer_6, #layer_7, #layer_8, #layer_9, #layer_10, #layer_11, #layer_12, #layer_13, #layer_14, #layer_15, #layer_16, #layer_17, #layer_18, #layer_19, #layer_20, #layer_21 {
        position:absolute;
        top: -5%;
        left: -5%;
        right: -5%;
        bottom: -5%;
        margin:auto;
        mix-blend-mode: exclusion;
        transform-origin: center center;
        transition-duration: 3s;
    }
    #layer_1 {
        transform: rotate(70deg);
    }
    #layer_2 {
        transform: rotate(60deg);
    }
    #layer_3 {
        transform: rotate(50deg);
    }
    #layer_4 {
        transform: rotate(40deg);
    }
    #layer_5 {
        transform: rotate(30deg);
    }
    #layer_6 {
        transform: rotate(20deg);
    }
    #layer_7 {
        transform: rotate(10deg);
    }
    #layer_8 {
        transform: rotate(-10deg);
    }
    #layer_9 {
        transform: rotate(200deg);
    }
    #layer_10 {
        transform: rotate(190eg);
    }
    #layer_11 {
        transform: rotate(180deg);
    }
    #layer_12 {
        transform: rotate(170deg);
    }
    #layer_13 {
        transform: rotate(160deg);
    }
    #layer_14 {
        transform: rotate(150deg);
    }
    #layer_15 {
        transform: rotate(80deg);
    }
    #layer_16 {
        transform: rotate(90deg);
    }
    #layer_17 {
        transform: rotate(100deg);
    }
    #layer_18 {
        transform: rotate(110deg);
    }
    #layer_19 {
        transform: rotate(120deg);
    }
    #layer_20 {
        transform: rotate(130deg);
    }
    #layer_21 {
        transform: rotate(140deg);
    }
}


@media only screen and (min-width: 847px) and (max-width: 1142px) and (max-height: 500px){
    #layer_1, #layer_2, #layer_3, #layer_4, #layer_5, #layer_6, #layer_7, #layer_8, #layer_9, #layer_10, #layer_11, #layer_12, #layer_13, #layer_14, #layer_15, #layer_16, #layer_17, #layer_18, #layer_19, #layer_20, #layer_21 {
        position:absolute;
        top: -5%;
        left: -5%;
        right: -5%;
        bottom: -5%;
        margin:auto;
        mix-blend-mode: exclusion;
        transform-origin: center center;
        transition-duration: 3s;
        transform: rotate(10deg);
    }
}

@media only screen and (min-width: 1143px) and (max-height: 500px){
    #layer_1, #layer_2, #layer_3, #layer_4, #layer_5, #layer_6, #layer_7, #layer_8, #layer_9, #layer_10, #layer_11, #layer_12, #layer_13, #layer_14, #layer_15, #layer_16, #layer_17, #layer_18, #layer_19, #layer_20, #layer_21 {
        position:absolute;
        top: -5%;
        left: -5%;
        right: -5%;
        bottom: -5%;
        margin:auto;
        mix-blend-mode: exclusion;
        transform-origin: center center;
        transition-duration: 3s;
    }
    #layer_1 {
        transform: rotate(-10deg);
    }
    #layer_2 {
        transform: rotate(10deg);
    }
    #layer_3 {
        transform: rotate(20deg);
    }
    #layer_4 {
        transform: rotate(30deg);
    }
    #layer_5 {
        transform: rotate(40deg);
    }
    #layer_6 {
        transform: rotate(50deg);
    }
    #layer_7 {
        transform: rotate(60deg);
    }
    #layer_8 {
        transform: rotate(70deg);
    }
    #layer_9 {
        transform: rotate(80deg);
    }
    #layer_10 {
        transform: rotate(90deg);
    }
    #layer_11 {
        transform: rotate(100deg);
    }
    #layer_12 {
        transform: rotate(110deg);
    }
    #layer_13 {
        transform: rotate(120deg);
    }
    #layer_14 {
        transform: rotate(130deg);
    }
    #layer_15 {
        transform: rotate(140deg);
    }
    #layer_16 {
        transform: rotate(150deg);
    }
    #layer_17 {
        transform: rotate(160deg);
    }
    #layer_18 {
        transform: rotate(170deg);
    }
    #layer_19 {
        transform: rotate(180deg);
    }
    #layer_20 {
        transform: rotate(190deg);
    }
    #layer_21 {
        transform: rotate(200deg);
    }
}



@media only screen and (max-width: 550px) and (min-height: 501px){
    #layer_1, #layer_2, #layer_3, #layer_4, #layer_5, #layer_6, #layer_7, #layer_8, #layer_9, #layer_10, #layer_11, #layer_12, #layer_13, #layer_14, #layer_15, #layer_16, #layer_17, #layer_18, #layer_19, #layer_20, #layer_21 {
        position:absolute;
        top: -5%;
        left: -5%;
        right: -5%;
        bottom: -5%;
        margin:auto;
        mix-blend-mode: exclusion;
        transform-origin: center center;
        transition-duration: 3s;
    }
    #layer_1 {
        transform: rotate(70deg);
    }
    #layer_2 {
        transform: rotate(60deg);
    }
    #layer_3 {
        transform: rotate(50deg);
    }
    #layer_4 {
        transform: rotate(40deg);
    }
    #layer_5 {
        transform: rotate(30deg);
    }
    #layer_6 {
        transform: rotate(20deg);
    }
    #layer_7 {
        transform: rotate(10deg);
    }
    #layer_8 {
        transform: rotate(-10deg);
    }
    #layer_9 {
        transform: rotate(200deg);
    }
    #layer_10 {
        transform: rotate(190eg);
    }
    #layer_11 {
        transform: rotate(180deg);
    }
    #layer_12 {
        transform: rotate(170deg);
    }
    #layer_13 {
        transform: rotate(160deg);
    }
    #layer_14 {
        transform: rotate(150deg);
    }
    #layer_15 {
        transform: rotate(80deg);
    }
    #layer_16 {
        transform: rotate(90deg);
    }
    #layer_17 {
        transform: rotate(100deg);
    }
    #layer_18 {
        transform: rotate(110deg);
    }
    #layer_19 {
        transform: rotate(120deg);
    }
    #layer_20 {
        transform: rotate(130deg);
    }
    #layer_21 {
        transform: rotate(140deg);
    }
}

@media only screen and (min-width: 551px) and (max-width: 846px) and (min-height: 501px){
    #layer_1, #layer_2, #layer_3, #layer_4, #layer_5, #layer_6, #layer_7, #layer_8, #layer_9, #layer_10, #layer_11, #layer_12, #layer_13, #layer_14, #layer_15, #layer_16, #layer_17, #layer_18, #layer_19, #layer_20, #layer_21 {
        position:absolute;
        top: -5%;
        left: -5%;
        right: -5%;
        bottom: -5%;
        margin:auto;
        mix-blend-mode: exclusion;
        transform-origin: center center;
        transition-duration: 3s;
        transform: rotate(10deg);
    }
}


@media only screen and (min-width: 847px) and (max-width: 1142px) and (min-height: 501px){
    #layer_1, #layer_2, #layer_3, #layer_4, #layer_5, #layer_6, #layer_7, #layer_8, #layer_9, #layer_10, #layer_11, #layer_12, #layer_13, #layer_14, #layer_15, #layer_16, #layer_17, #layer_18, #layer_19, #layer_20, #layer_21 {
        position:absolute;
        top: -5%;
        left: -5%;
        right: -5%;
        bottom: -5%;
        margin:auto;
        mix-blend-mode: exclusion;
        transform-origin: center center;
        transition-duration: 3s;
    }
    #layer_1 {
        transform: rotate(-10deg);
    }
    #layer_2 {
        transform: rotate(10deg);
    }
    #layer_3 {
        transform: rotate(20deg);
    }
    #layer_4 {
        transform: rotate(30deg);
    }
    #layer_5 {
        transform: rotate(40deg);
    }
    #layer_6 {
        transform: rotate(50deg);
    }
    #layer_7 {
        transform: rotate(60deg);
    }
    #layer_8 {
        transform: rotate(70deg);
    }
    #layer_9 {
        transform: rotate(80deg);
    }
    #layer_10 {
        transform: rotate(90deg);
    }
    #layer_11 {
        transform: rotate(100deg);
    }
    #layer_12 {
        transform: rotate(110deg);
    }
    #layer_13 {
        transform: rotate(120deg);
    }
    #layer_14 {
        transform: rotate(130deg);
    }
    #layer_15 {
        transform: rotate(140deg);
    }
    #layer_16 {
        transform: rotate(150deg);
    }
    #layer_17 {
        transform: rotate(160deg);
    }
    #layer_18 {
        transform: rotate(170deg);
    }
    #layer_19 {
        transform: rotate(180deg);
    }
    #layer_20 {
        transform: rotate(190deg);
    }
    #layer_21 {
        transform: rotate(200deg);
    }
}

@media only screen and (min-width: 1143px) and (min-height: 501px){
    #layer_1, #layer_2, #layer_3, #layer_4, #layer_5, #layer_6, #layer_7, #layer_8, #layer_9, #layer_10, #layer_11, #layer_12, #layer_13, #layer_14, #layer_15, #layer_16, #layer_17, #layer_18, #layer_19, #layer_20, #layer_21 {
        position:absolute;
        top: -5%;
        left: -5%;
        right: -5%;
        bottom: -5%;
        margin:auto;
        mix-blend-mode: exclusion;
        transform-origin: center center;
        transition-duration: 3s;
        transform: rotate(10deg);
    }
}
